<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/project4_library</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>com.java.myrotiuk.filter.LogFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.java.myrotiuk.filter.EncodingFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

 
    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/Index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/Login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Singup</servlet-name>
        <jsp-file>/Singup.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Singup</servlet-name>
        <url-pattern>/singup</url-pattern>
    </servlet-mapping>
    <!-- 
    <servlet>
        <servlet-name>LoginSuccess</servlet-name>
        <jsp-file>/LoginSuccess.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSuccess</servlet-name>
        <url-pattern>/loginSuccess</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SingupSuccess</servlet-name>
        <jsp-file>/SingupSuccess.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SingupSuccess</servlet-name>
        <url-pattern>/singupSuccess</url-pattern>
    </servlet-mapping>
    -->
    <servlet>
        <servlet-name>WelcomeReader</servlet-name>
        <jsp-file>/WelcomeReader.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeReader</servlet-name>
        <url-pattern>/welcomeReader</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WelcomeLibrarian</servlet-name>
        <jsp-file>/WelcomeLibrarian.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeLibrarian</servlet-name>
        <url-pattern>/welcomeLibrarian</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CatalogOfBooks</servlet-name>
        <jsp-file>/CatalogOfBooks.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogOfBooks</servlet-name>
        <url-pattern>/catalog</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OwingReaders</servlet-name>
        <jsp-file>/OwingReaders.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>OwingReaders</servlet-name>
        <url-pattern>/owingReaders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Readers</servlet-name>
        <jsp-file>/Readers.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Readers</servlet-name>
        <url-pattern>/readers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CatalogOfBooksForReaders</servlet-name>
        <jsp-file>/CatalogOfBooksForReaders.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogOfBooksForReaders</servlet-name>
        <url-pattern>/catalogOfBooksForReaders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BooksTakenByReader</servlet-name>
        <jsp-file>/BooksTakenByReader.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BooksTakenByReader</servlet-name>
        <url-pattern>/booksTakenByReader</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.java.myrotiuk.controller.Controller</servlet-class>
        <init-param>
            <param-name>log4j-properties-location</param-name>
            <param-value>WEB-INF/classes/log4j.properties</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/library</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
